{{define "delete"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up page</title>
</head>
<body>
<form id="delFavorite" name="delFavorite" action="/delFavorite" method="post" >
    <label for="user_id">Ваше id</label><br>
    <input type="text" id="user_id" name="user_id" required><br>

    <label for="ads_id">id объявления</label><br>
    <input type="text" id="ads_id" name="ads_id" required><br>

    <button type="submit" name="submitBtn">Добавить</button>
</form>

{{if . }}
<div>
    {{.Message}}
</div>
{{end}}

</body>
</html>
{{end}}